/* 
    Created on : 19.05.2021, 17:43:15
    Author     : Амалия Волощук
*/

#header{
background:darkred;
width:715px;
height:100px;
}
#menu{
background:oldlace;
width:190px;
height:300px;
float:left;
}
#content{
background:oldlace;
width:525px;
height:300px;
float:left;
}
#footer{
background:darkred;
height:30px;
background:yellow;
width:150px;
height:280px;
float:right;
}